<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='robots' content='index, follow' />
    <link rel='canonical'  href='{{ site_url }}' />
    <link rel='stylesheet' href='/css/all.min.css' media='all' />
    <style id='generate-style-inline-css'>
        body{background-color:#ffffff;color:#3a3a3a;}a{color:#1e73be;}a:hover, a:focus, a:active{color:#000000;}body .grid-container{max-width:1100px;}.wp-block-group__inner-container{max-width:1100px;margin-left:auto;margin-right:auto;}.generate-back-to-top{font-size:20px;border-radius:3px;position:fixed;bottom:30px;right:30px;line-height:40px;width:40px;text-align:center;z-index:10;transition:opacity 300ms ease-in-out;}body, button, input, select, textarea{font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}body{line-height:1.5;}.entry-content > [class*="wp-block-"]:not(:last-child){margin-bottom:1.5em;}.main-title{font-weight:800;font-size:28px;}.main-navigation a, .menu-toggle{font-weight:600;font-size:20px;}.main-navigation .main-nav ul ul li a{font-size:17px;}.sidebar .widget, .footer-widgets .widget{font-size:17px;}button:not(.menu-toggle),html input[type="button"],input[type="reset"],input[type="submit"],.button,.wp-block-button .wp-block-button__link{font-weight:800;font-size:20px;}h1{font-weight:800;font-size:40px;}h2{font-weight:800;font-size:30px;}h3{font-weight:700;font-size:20px;}h4{font-size:inherit;}h5{font-size:inherit;}.site-info{font-size:12px;}@media (max-width:768px){.main-title{font-size:30px;}h1{font-size:30px;}h2{font-size:25px;}}.top-bar{background-color:#636363;color:#ffffff;}.top-bar a{color:#ffffff;}.top-bar a:hover{color:#303030;}.site-header{background-color:#ffffff;color:#3a3a3a;}.site-header a{color:#3a3a3a;}.main-title a,.main-title a:hover{color:#222222;}.site-description{color:#757575;}.main-navigation,.main-navigation ul ul{background-color:#06b23e;}.main-navigation .main-nav ul li a,.menu-toggle, .main-navigation .menu-bar-items{color:#ffffff;}.main-navigation .main-nav ul li:hover > a,.main-navigation .main-nav ul li:focus > a, .main-navigation .main-nav ul li.sfHover > a, .main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a{color:#ffffff;background-color:#4dbd0a;}button.menu-toggle:hover,button.menu-toggle:focus,.main-navigation .mobile-bar-items a,.main-navigation .mobile-bar-items a:hover,.main-navigation .mobile-bar-items a:focus{color:#ffffff;}.main-navigation .main-nav ul li[class*="current-menu-"] > a{color:#ffffff;background-color:#06b23e;}.main-navigation .main-nav ul li[class*="current-menu-"] > a:hover,.main-navigation .main-nav ul li[class*="current-menu-"].sfHover > a{color:#ffffff;background-color:#06b23e;}.navigation-search input[type="search"],.navigation-search input[type="search"]:active, .navigation-search input[type="search"]:focus, .main-navigation .main-nav ul li.search-item.active > a, .main-navigation .menu-bar-items .search-item.active > a{color:#ffffff;background-color:#4dbd0a;}.main-navigation ul ul{background-color:#4dbd0a;}.main-navigation .main-nav ul ul li a{color:#ffffff;}.main-navigation .main-nav ul ul li:hover > a,.main-navigation .main-nav ul ul li:focus > a,.main-navigation .main-nav ul ul li.sfHover > a{color:#ffffff;background-color:#48b307;}.main-navigation .main-nav ul ul li[class*="current-menu-"] > a{color:#ffffff;background-color:#4dbd0a;}.main-navigation .main-nav ul ul li[class*="current-menu-"] > a:hover,.main-navigation .main-nav ul ul li[class*="current-menu-"].sfHover > a{color:#ffffff;background-color:#4dbd0a;}.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .one-container .container, .separate-containers .paging-navigation, .inside-page-header{background-color:#ffffff;}.entry-meta{color:#595959;}.entry-meta a{color:#595959;}.entry-meta a:hover{color:#1e73be;}.sidebar .widget{background-color:#ffffff;}.sidebar .widget .widget-title{color:#000000;}.footer-widgets{background-color:#ffffff;}.footer-widgets .widget-title{color:#000000;}.site-info{color:#ffffff;background-color:#222222;}.site-info a{color:#ffffff;}.site-info a:hover{color:#606060;}.footer-bar .widget_nav_menu .current-menu-item a{color:#606060;}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="tel"],input[type="number"],textarea,select{color:#666666;background-color:#ffffff;border-color:#cccccc;}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="number"]:focus,textarea:focus,select:focus{color:#666666;background-color:#ffffff;border-color:#bfbfbf;}button,html input[type="button"],input[type="reset"],input[type="submit"],a.button,a.wp-block-button__link:not(.has-background){color:#ffffff;background-color:#f9591d;}button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,a.button:hover,button:focus,html input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,a.button:focus,a.wp-block-button__link:not(.has-background):active,a.wp-block-button__link:not(.has-background):focus,a.wp-block-button__link:not(.has-background):hover{color:#ffffff;background-color:#f24e10;}a.generate-back-to-top{background-color:rgba( 0,0,0,0.4 );color:#ffffff;}a.generate-back-to-top:hover,a.generate-back-to-top:focus{background-color:rgba( 0,0,0,0.6 );color:#ffffff;}@media (max-width: 768px){.main-navigation .menu-bar-item:hover > a, .main-navigation .menu-bar-item.sfHover > a{background:none;color:#ffffff;}}.inside-top-bar{padding:10px;}.site-main .wp-block-group__inner-container{padding:40px;}.entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull{margin-left:-40px;width:calc(100% + 80px);max-width:calc(100% + 80px);}.main-navigation .main-nav ul li a,.menu-toggle,.main-navigation .mobile-bar-items a{line-height:70px;}.navigation-search input[type="search"]{height:70px;}.rtl .menu-item-has-children .dropdown-menu-toggle{padding-left:20px;}.rtl .main-navigation .main-nav ul li.menu-item-has-children > a{padding-right:20px;}.site-info{padding:20px;}@media (max-width:768px){.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header{padding:30px;}.site-main .wp-block-group__inner-container{padding:30px;}.site-info{padding-right:10px;padding-left:10px;}.entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull{margin-left:-30px;width:calc(100% + 60px);max-width:calc(100% + 60px);}}.one-container .sidebar .widget{padding:0px;}/* End cached CSS */@media (max-width: 768px){.main-navigation .menu-toggle,.main-navigation .mobile-bar-items,.sidebar-nav-mobile:not(#sticky-placeholder){display:block;}.main-navigation ul,.gen-sidebar-nav{display:none;}[class*="nav-float-"] .site-header .inside-header > *{float:none;clear:both;}}
        .navigation-branding .main-title{font-weight:800;text-transform:none;font-size:28px;}@media (max-width: 768px){.navigation-branding .main-title{font-size:30px;}}
    </style>
    <script type="text/javascript">
        function toggle_menu() {
            let menu = document.querySelector('#menu-navigation');
            let items = document.querySelectorAll('#menu-navigation li');

            if(menu.style.display != 'block') {
                set_items(items,'none');
                menu.style.display = 'block';
            }else{
                set_items(items,'left');
                menu.style.display = 'none';
            }
        }

        function set_items(elementList,listValue)
        {
            let index = 0;
            let length = elementList.length;
            for (; index < length; index++) {
                elementList[index].style.float = listValue;
            }
        }
    </script>
</head>

<body>

<header id="masthead" class="site-header">
    <div class="inside-header grid-container grid-parent">
        <div class="site-branding">
            <p class="main-title">
                <a href="/" rel="home">
                    Hello World
                </a>
            </p>
            <p class="site-description">
                The easiest way to create a new website
            </p>
        </div>
    </div>
</header>

<nav id="site-navigation" class="main-navigation">
    <div class="inside-navigation grid-container grid-parent">
        <button class="menu-toggle" onclick="toggle_menu()">
            <span><img src="/images/hamburger.svg" id="hamburger"></span>
            <span class="mobile-menu">Menu</span>
        </button>
        <div id="primary-menu" class="main-nav">
            <ul id="menu-navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/login/">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="page" class="site grid-container container hfeed grid-parent">
    <div id="content" class="site-content">
        <div id="primary">
            <main id="main" class="site-main">
                    <div style="margin:20px">
                        <header class="entry-header">
                            <h1 class="entry-title">{{ h1_title }}</h1>
                        </header>
                        <div class="entry-content">
                            {{ subpage | raw }}
                        </div>
                    </div>
            </main>
        </div>
    </div>
</div>

<div class="site-footer">
    <footer class="site-info" >
        <div>
            <div class="copyright-bar">
                © Hello World <br />
                <a href="/contact/">Contact</a> -
                <a href="/login/">Login</a>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
